[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
awswrangler = "*"
scipy = "*"
aws-lambda-typing = "*"

[dev-packages]
black = "*"
mypy = "*"
bandit = "*"
flake8 = "*"

[requires]
python_version = "3.9"
